.form__field {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #393939;
  border-radius: 0px;
  box-shadow: 5px 5px 0px rgba(0,0,0,.3);
  transition: .3s;
  margin: 30px 0px;
}

.form__field:focus-within {
  box-shadow: 8px 8px 0px #F12C49;
  transform: translateY(-7px);
}
