.new-machine__form {
  width: 100%;
  max-width: 550px;
  color: black;
  background: white;
  border-radius: 10px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 20px;
}
