.new-machine__form {
  width: calc(100% - 100px);
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  background: #494949;
  border-radius: 0px;
  margin: 30px 0px;
  position: relative;
}
