.header__logo {
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 40px;
  align-self: center;
  background-image: url(../../../images/ico.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;

  position: absolute;
  top: 20px;
  left: 20px;
}
