.header {
  display: flex;
  justify-content: flex-end;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 80px;
  background:black;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  transition: .3s;
}
