.link {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(#2f2f2f,#2f2f2f);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0px;
  transition: background-size .3s ease-out, box-shadow .3s ease-out;
  box-sizing: border-box;
  height: 100%;
  border-radius: 20px 20px 0 0;
  outline: none;
}

.link:hover {
  background-size: 100% 100%;
  box-shadow: 0 -22px 30px rgba(0,0,0,.25);
}
