.app__background {
  z-index: -1;
  position: fixed;
  top: -5%;
  left: -5%;
  width: 120vw;
  height: 120vh;
  background-image: url(../../../images/blackbb.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
}
