.app {
  /* background: url(../../images/purple-gradient-background.jpg); */
  background-position: center;
  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  min-height: 100vh;
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow: hidden;
}
