.burger {
  width: 36px;
  height: 28px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 24px;
}

@media screen and (max-width: 600px) {
  .burger {
    display: flex;
  }
}
