.textarea {
  box-sizing: border-box;
  color: white;
  padding: 8px 4px;
  margin: 0;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  resize: none;
  overflow: hidden;
}
