.select {
  width: 100%;
  color: white;
  background: #111111;
  outline: none;
  padding: 8px 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid white;
  align-self: stretch;
  cursor: pointer;
}
