@import url(../vendor/normalize.css);

/* ------------------------------root------------------------------ */

@import url(../blocks/root/root.css);
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* ------------------------------header------------------------------ */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__logo/header__logo.css);

/* ------------------------------main------------------------------ */

@import url(../blocks/main/main.css);
@import url(../blocks/main/__flex-container/main__flex-container.css);
@import url(../blocks/main/__heading/main__heading.css);

/* ------------------------------new-machine-section------------------------------ */

@import url(../blocks/new-machine/new-machine.css);
@import url(../blocks/new-machine/__form/new-machine__form.css);
@import url(../blocks/new-machine/__name/new-machine__name.css);
@import url(../blocks/new-machine/__submit-button/new-machine__submit-button.css);
@import url(../blocks/new-machine/__heading/new-machine__heading.css);
@import url(../blocks/new-machine/__input-wrapper/new-machine__input-wrapper.css);

/* ------------------------------new-error-section------------------------------ */
@import url(../blocks/new-error/new-error.css);

/* ------------------------------form------------------------------ */
@import url(../blocks/form/form.css);
@import url(../blocks/form/__field/form__field.css);
@import url(../blocks/form/__field-name/form__field-name.css);
@import url(../blocks/form/__textarea/form__textarea.css);
@import url(../blocks/form/__container/form__container.css);
@import url(../blocks/form/__add-machine-button/form__add-machine-button.css);
@import url(../blocks/form/__fake-input/form__fake-input.css);
@import url(../blocks/form/__submit-button/form__submit-button.css);

/* ------------------------------popup------------------------------ */

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);

/* ------------------------------footer------------------------------ */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);

/* ------------------------------mixes------------------------------ */

@import url(../blocks/button/button.css);
@import url(../blocks/link/link.css);
@import url(../blocks/input/input.css);
@import url(../blocks/sizer/sizer.css);
@import url(../blocks/spacer/spacer.css);
@import url(../blocks/select/select.css);
@import url(../blocks/textarea/textarea.css);
@import url(../blocks/hidden/hidden.css);


/* @import url(../blocks/);  template*/
