.button {
  color: black;
  background: white;
  border-radius: 10px;
  text-decoration: none;
  box-sizing: border-box;
  padding: 1em;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  transition: .5s;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 120px;
}

.button:hover {
  background: #eb1232;
}
